* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #171717;
  overflow: hidden;
}

canvas {
  background-color: #aaaaaa30;
}

input {
  color: white;
}

button {
  padding: 7px 20px;
  border-radius: 20px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: white;
  text-align: center;
  cursor: pointer;

  transition: 0.3s ease background-color;
}

button:hover {
  background-color: #aaaaaa30;
}
