* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #171717;
  overflow: hidden;
}

canvas {
  background-color: #aaaaaa30;
}

input {
  color: white;
}

/* Upload map */
#upload-map-input {
  display: none;
}

#upload-map-input + label {
  width: 135px;
  padding: 13px;
  margin-left: 35px;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;

  transition: 0.3s ease background-color;
}

#upload-map-input + label:hover {
  background-color: #aaaaaa20;
}